.home{



  margin-top: 65px;
  & ul li{
    text-align: center;

    list-style: none;

    margin-bottom: 25px;
    padding: 15px 30px;
    background-color: #0d95e8;
    border-radius: 12px;
  }
  & a{

    font-size: 22px;
    color: #2a2a2a;
    &:hover{
      color: red;
    }
  }

}
.basket{
  &__inner{
    margin-top: 45px;
  }
  &__box{
    margin-top: 20px;
    border-bottom: 1px solid #0d95e8;
    width: 100%;
    border-bottom: 1px solid #0d95e8;
    border-radius: 15px;
    background-color: #212529;
    padding: 15px 30px;
  }
  &__flex{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    & h1{
      color: #0D6EFD;
      padding-top: 10px;
      font-size: 18px;
    }
  }
}
.list-info{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  & ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
}